server:
  port: 9001
spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: group-id
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health

# DYNAMIC SERVICE CHECKER CONFIGURATION
external:
  services:
    camunda-workflow-engine:
      url: http://localhost:8080/engine-rest/version
      flow: BPMN_FLOW
    google-homepage:
      url: https://www.google.com
    internal-rest-api:
      url: http://localhost:8081/health
